
/* --------------------
    Buttons
    ------------------- */   

$btnHovTime: 0.6s;

.btn {
	@include border-rad(4px);    
    display: inline-block;
    height: 66px;
    color: #fff;
    white-space: nowrap;
    cursor: pointer;  
    background: $blue;
    border: none;
    outline: none;
    overflow: hidden;

    button, a {
    	position: relative;
    	display: block;
    	width: 100%;
    	height: 100%;
    	padding: 0 20px;
    	text-decoration: none;
    }

    span {
    	@include transition(all, $btnHovTime, ease);
    	@extend .not-blurry;
    	position: relative;
    	display: block;
    	line-height: 68px;
    	z-index: 1;
    	font-size: 12px;
    	font-family: $fontBold;
    	letter-spacing: 1.2px;
    	color: $blue;
    	text-transform: uppercase;

    	img.arrow {
			@include transform(rotate(-90deg));
			@include transition(all, $btnHovTime, ease);
			position: relative;
			top: 3px;
			opacity: 0;
    	}
    }

    i {
    	@include transition(all, $btnHovTime, ease);
    	position: absolute;
    	left: 0;
    	top: 0;
    	right: 0;
    	bottom: 0;
    	display: block;
    	background-color: $yellow;

		-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
}  


.btn-2 {
	height: 60px;
	//background-color: $yellow;

	span {
		line-height: 60px;
		font-size: 10px;
		color: #fff;

		@include mobile-min {
			font-size: 9px;
		}

		img.arrow {
			@include transform(rotate(90deg));
    	}

		b {
			font-weight: normal;
			color: $yellow;
		}
	}

	i  {
		background-color: #2f397e;
	}
}

.no-touchevents {

	.btn:hover {

		i {
			-webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
			clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
		}

		&:not(.btn-2) {
		
			span {
				@include transform(translateX(-15px) translateZ(0) scale(1.0, 1.0));
				color: $yellow;

				.arrow {
	    			@include transform(rotate(-90deg) translateY(25px));
	    			opacity: 1;
				}
			}
		}
	}

	.btn-back:hover {

		span {
			@include transform(translateX(15px) translateZ(0) scale(1.0, 1.0));

			.arrow {
    			@include transform(rotate(90deg) translateY(25px));
    			opacity: 1;
			}
		}
	}
}

.btn-ico {

	button, a {
		padding: 0 15px;

		img {
			@extend .ctrVert;
			@include transition(all, 0.5s, ease);
			position: absolute;
			left: 0;
			z-index: 1;
		}

		span {
			display: inline-block;
			padding-left: 30px;
			text-align: left;
		}
	}

	&.btn-ref:hover {

		button, a {

			img {
				@include transform(translateY(-50%) rotate(180deg));
			}
		}
	}

	&.btn-tel:hover {

		button, a {

			img {
				@include animation(icoTel, 0.4s, linear);
				animation-iteration-count: 4;
				-webkit-animation-iteration-count: 4;
				-ms-animation-iteration-count: 4;
			}
		}
	}

	&.btn-dl:hover {

		button, a {
			
			img {
				@include animation(icoDl, 1.5s, linear);
				animation-iteration-count: 2;
				-webkit-animation-iteration-count: 2;
				-ms-animation-iteration-count: 2;
			}
		}
	}
}

@keyframes icoTel {
	25% {
		transform: translateY(-50%) rotate(10deg);
		-ms-transform: translateY(-50%) rotate(10deg);
	}

	75% {
		transform: translateY(-50%) rotate(-10deg);
		-ms-transform: translateY(-50%) rotate(-10deg);
	}	

	100% {
		transform: translateY(-50%) rotate(0deg);
		-ms-transform: translateY(-50%) rotate(0deg);
	}
}

@-webkit-keyframes icoTel {
	25% {
		-webkit-transform: translateY(-50%) rotate(10deg);
	}

	75% {
		-webkit-transform: translateY(-50%) rotate(-10deg);
	}	

	100% {
		-webkit-transform: translateY(-50%) rotate(0deg);
	}
}

@keyframes icoDl {
	25% {
		transform: translateY(-50%) translateY(3px);
		-ms-transform: translateY(-50%) translateY(3px);
	}

	75% {
		transform: translateY(-50%) translateY(-3px);
		-ms-transform: translateY(-50%) translateY(-3px);
	}	

	100% {
		transform: translateY(-50%) translateY(0px);
		-ms-transform: translateY(-50%) translateY(0px);
	}
}

.btn-reg, .btn-check {
	width: 270px;
}

.btn-full {
	width: 100%;
}