
/* ---------------
    Forms
    -------------- */

.form-input {
    position: relative; 
    margin-bottom: 30px;

    input, textarea {
        @extend .trans;
        @include border-rad(3px);
        display: block;
        width: 100%;
        text-align: center;
        height: 100px;
        line-height: 100px;
        padding: 0 20px;
        font-size: 22px;
        color: #fff;
        border: 2px solid rgba(255,255,255, 0.2);
        background: none;
        letter-spacing: 0.8px;
        font-family: $fontSbold;
        -webkit-appearance: none; 

        &:focus {
            border-color: #fff;

            @include ph {
                opacity: 0.2;
            }
        }

        @include ph {
            color: #fff;
        }

        @include minHeight {
            height: 80px;
            line-height: 80px;
        }
    }

    textarea {
        resize:none;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 15px 20px;
        height: 200px;
        line-height: 30px;
    }

    &.form-text-capcha {
        @include clearfix;

        input {
            float: left;    
            width: 185px;
        }

        .img {
            float: left;
            width: 166px;
            margin-left: 4px;
        }

        .refresh {
            float: left;
            margin-top: 17px;
            width: 13px;
            height: 13px;
            background:url("../images/sprites.png") no-repeat -291px -198px;

            &:hover {
                background:url("../images/sprites.png") no-repeat -307px -198px;
            }
        }
    }
}


.checkbox {
    text-align: left;
    display: block;
    position: relative;
    margin-bottom: 30px;
    cursor: pointer;
    -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;

    &.checkbox-ctr {
        text-align: center;
        display: inline-block;
    }

    .checkbox-text, .checkbox-text-b {
        display: block;
        padding-left: 40px;
        font-size: 9px;
        line-height: 13px;
        color: rgba(255,255,255,0.5);
        font-family: $fontLight;
    }

    .checkbox-text-b {
        font-size: 15px;
        line-height: 25px;
    }

    input[type="checkbox"] {
        display: none;
    } 

    input[type=checkbox]:checked+.custom-checkbox {
        border-color: red;

        &:after {
            @extend .trans;
            opacity: 1;
        }
    }

    .custom-checkbox {
        @include border-rad(2px);
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        width: 25px; 
        height: 25px;
        background: #303877;

        &:after {
            @extend .ps;
            width: 9px;
            height: 7px;
            opacity: 0;
            top: 50%;
            left: 50%;
            margin: -3px 0 0 -4px;
            height: #fff;
            background: url(../images/check.svg) no-repeat 0 0;
        }
    }
}


.scroll.ps-container > .ps-scrollbar-y-rail { width: 3px; background: #e8e5e2; }
.scroll.ps-container > .ps-scrollbar-x-rail { display: none !important; }
.scroll.ps-container > .ps-scrollbar-y-rail .ps-scrollbar-y { width: 3px; background:#000; }    


