
/* --------------------
    Home
    ------------------- */   

#video-bg {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	height: 100%;
	background-size: cover !important;

	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	object-fit: cover;
}

.home-page {

	&:after {
		@include full;
		content: "";
		display: block;
		background-color: rgba(0,0,0, 0.5);
		z-index: 1;

		@include minHeight {
			height: 600px;
		}
	}

	.socket {
		z-index: 2;
	}
	
	.title-1 {
		font-size: 70px;
		line-height: 95px;
	}

	p {
		margin-bottom: 0;
	}

	.content-wrap {
		z-index: 100;
	}

	@include mid {

		.title-1 {
			font-size: 60px;
			line-height: 85px;
		}
	}
}    

.content-wrap, .popup-content-wrap {
	@extend .ctrVert;
}

.title-wrap {

	p {
		font-size: 18px;
	}
}

.logo-team, .logo {
    position: absolute;
}

.logo-team {
    @extend .ctrHor;
    top: 26px;

    img {
        width: 92px;
    }
}

.logo {
	width: 180px;
	height: 69px;
    right: 0;
    top: 43px;
    z-index: 999;

    img {
   		width: 100%;
   	}
}


.adv-list {
	@include flex(center);
	padding-top: 60px;
	padding-bottom: 60px;

	> li {
		width: 245px;
		margin: 0 33px;
		
		.ico-wrap {
			display: flex;
			-webkit-display: flex;
			justify-content: center;
			-webkit-justify-content: center;
			height: 80px;
			margin-bottom: 18px;

			.ico {
				position: relative;	
				align-self: flex-end;
				-webkit-align-self: flex-end;

				.icons {
					position: absolute;
					left: 0;
					top: 0;

					li {
						@include transition(all, 0.8s, ease-in-out);
						position: absolute;
						opacity: 0;

						img {
							@extend .not-blurry;
						}

						&:nth-child(1) {
							top: 18px;
							left: -68px;

							@include transform(translateX(68px));
						}

						&:nth-child(2) {
							top: -50px;
							left: -32px;

							@include transform(translateX(32px) translateY(40px));
						}

						&:nth-child(3) {
							top: -52px;
							right: -83px;

							@include transform(translateX(-32px) translateY(42px));
						}

						&:nth-child(4) {
							top: 19px;
							right: -120px;

							@include transform(translateX(-65px));
						}
					}
				}

				.lines {
					position: absolute;
					width: 21px;
					height: 10px;
					left: 7px;
					top: 7px;
					overflow: hidden;
					-webkit-backface-visibility: hidden;
    				-moz-backface-visibility: hidden;
										
					i {
						position: absolute;
						display: block;
						width: 11px;
						height: 1px;
						left: 0;
						top: 0;
						background-color: #87878a;
						background-color: #fff;
					}

					i:nth-child(2) {
						width: 15px;
						height: 2px;
						top: 4px;
					}

					i:nth-child(3) {
						width: 21px;
						top: 8px;
					}
				}

				.conf {
					position: absolute;
					top: 0;
					left: 0;

					li {
						@extend .sm;
						position: absolute;
						width: 3px;
						height: 3px;

						&:after {
							@extend .ps;
							left: 0;
							top: 0;
							width: 100%;
							height: 100%;
							background: $yellow;
						}
					}

					li:nth-child(1) {
						left: 1px;
						top: 3px;

						&:after {
							@include transform(rotate(35deg));
						}
					}

					li:nth-child(2) {
						@include a-delay(0.2s);						
						width: 6px;
						height: 10px;
						top: 1px;
						left: 15px;

						animation-duration: 1.7s;
						-webkit-animation-duration: 1.7s;
						-ms-animation-duration: 1.7s;
						
						&:after {
							@include transform(rotate(106deg));
							background: url(../images/conf-1.svg) no-repeat;
							background-size: 100% auto;
						}
					}

					li:nth-child(3) {
						@include a-delay(0.30s);
						width: 3px;
						height: 3px;
						left: 8px;
						top: 10px;

						&:after {
							@include transform(rotate(50deg));
						}
					}

					li:nth-child(4) {
						width: 2px;
						height: 2px;
						left: 18px;
						top: 15px;

						&:after {
							@include transform(rotate(50deg));
						}
					}

					li:nth-child(5) {
						@include a-delay(0.35s);
						animation-duration: 1.5s;
						-webkit-animation-duration: 1.5s;
						-ms-animation-duration: 1.5s;

						left: 0;
						top: 20px;

						&:after {
							@include transform(rotate(63deg));
						}
					}

					li:nth-child(6) {
						@include a-delay(0.4s);
						animation-duration: 2.5s;
						-webkit-animation-duration: 2.5s;
						-ms-animation-duration: 2.5s;

						width: 2px;
						height: 2px;
						left: 53px;
						top: 0;

						&:after {
							@include transform(rotate(0deg));						
						}
					}

					li:nth-child(7) {
						left: 54px;
						top: 11px;

						&:after {
							@include transform(rotate(45deg));							
						}
					}

					li:nth-child(8) {
						@include a-delay(0.5s);
						width: 3px;
						height: 3px;
						left: 64px;
						top: 7px;

						&:after {
							@include transform(rotate(45deg));
						}
					}

					li:nth-child(9) {
						@include a-delay(0.55s);
						left: 72px;
						top: 12px;
						width: 6px;
						height: 10px;
						
						&:after {						
							@include transform(rotate(-114deg));
							background: url(../images/conf-2.svg) no-repeat;
							background-size: 100% auto;
						}
					}

					li:nth-child(10) {
						@include a-delay(0.6s);
						animation-duration: 2.0s;
						-webkit-animation-duration: 2.0s;
						-ms-animation-duration: 2.0s;

						width: 2px;
						height: 2px;
						left: 64px;
						top: 16px;

						&:after {
							@include transform(rotate(-40deg));
						}
					}
				}
			}
		}
	}
}

$animateAmp: 3px;

@keyframes conf {
	25% {
		transform: translateY(-$animateAmp);
	}

	75% {
		transform: translateY(calc(#{$animateAmp} + 2px));
	}

	100% {
		transform: translateY(0px);
	}
}

@-webkit-keyframes conf {
	25% {
		-webkit-transform: translateY(-$animateAmp);
	}

	75% {
		-webkit-transform: translateY(calc(#{$animateAmp} + 2px));
	}

	100% {
		-webkit-transform: translateY(0px);
	}
}

.no-touchevents {

	.adv-list {

		> li:nth-child(1):hover {

			.icons li {
				@include transform(translate(0));
				opacity: 0.3;
			}
		}

		> li:nth-child(2):hover {
			
			.lines i {
				@include animation(linesMove, 1.2s, linear);
				animation-iteration-count: 2;
				-webkit-animation-iteration-count: 2;
				-ms-animation-iteration-count: 2;
			}
		}

		> li:nth-child(3):hover .conf li {
			@include animation(conf, 1.9s, ease-in-out);
			animation-iteration-count: 1;
			-webkit-animation-iteration-count: 1;
			-ms-animation-iteration-count: 1;
		}
	}
}

@keyframes linesMove {
	45% {
		left: 100%;
		opacity: 1;
	}

	50% {
		left: 100%;
		opacity: 0;
	}

	55% {
		left: -100%;
		opacity: 0;
	}

	100% {
		left: 0;
		opacity: 1;
	}
}

.footer {
	position: absolute;
	height: 95px;
	left: 0;
	bottom: 0;
	right: 0;

	.social {
		position: absolute;
		right: 0;
		top: 40px;
	}
}

.text-info {
	width: 365px;
	color: rgba(255,255,255, 0.7);
	font-size: 9px;
	line-height: 13px;
	text-align: left;
}

.social, .social-share {
	font-size: 0;

	span, b {
		display: inline-block;
		padding-right: 8px;
		font-size: 14px;
		line-height: 8px;
		vertical-align: bottom;
		white-space: nowrap;
		font-weight: normal;
	}

	ul {
		display: inline-block;

		li {
			display: inline-block;
			margin: 0 8px;
			vertical-align: bottom;

			&:last-child {
				margin-right: 0;
			}

			a {
				@extend .trans;
				display: block;

				&:hover {
					opacity: 0.7;
				}
			}
		}
	}
}

.social-share {
	text-align: left;
	margin-bottom: 20px;

	b {
		vertical-align: middle;
		font-size: 30px;
		font-family: $fontSbold;
	}

	ul {

		li {
			vertical-align: middle;

			a {
				@extend .circle;
				width: 58px;
				height: 58px;

				img {
					@extend .ctr;
				}
			}
		}
	}
}

@media (min-width: 1025px) and (max-height: 800px){

	.home-page {

		.content-wrap {
			top: 60%;
		}
	}

	.adv-list {
		padding: 25px 0;
	}
}

@include tablet {

	.btn-menu-block, .logo, .btn-close {
		top: 25px;
	}

	.title-wrap {

		p {
			font-size: 15px;
		}
	}

	.adv-list {
		padding: 25px 0 35px;
		margin: 0 -25px;

		> li {
			margin: 0 10px;

			p {
				font-size: 13px;
			}
		}
	}
}

@include minHeight {

    .btn-menu-block, .logo, .logo-team, .btn-close {
        top: 20px;
    }

    @media (max-width: 1025px) {

        .content-wrap {
            @include transform(translateY(0));
            top: 130px;
        }

        .footer {

            .text-info {
                display: none;
            }
        }
    }
}

@include mobile {

	.home-page {

		.socket {
			padding-top: 150px;
		}

		.footer {
			padding-bottom: 66px;
		}
	}
    
    #header {
        height: 100px;
    }

    .btn-menu-block, .logo, .btn-close {
		top: 35px;
		padding: 0;
	}

	.btn-menu-block > span {
		display: none;
	}

	.menu-block {

        .socket {
            padding-top: 100px;
        }
    }

    .menu li a {
        font-size: 42px;
    }

	.content-wrap {
		@include transform(none);
		position: static;
	}

	.adv-list {
		margin: 0;
	}

	.title-wrap {
		padding: 0 25px;

		p {
			font-size: 18px;
		}
	}

	.footer {
		position: static;
		height: auto;
		padding-top: 50px;

		.text-info {
			text-align: center;
			width: auto;
			margin-bottom: 20px;
		}

		.social {
			position: static;
		}
	}

	@include land {

        .btn-menu-block, .logo, .btn-close {
            top: 20px;
        }

        .menu-block {

	        .socket {
	            padding-top: 85px;
	        }
	    }

	    .menu {
    		padding: 15px 0;

    		li a {
    			font-size: 20px;
    		}
    	}

	    @media (max-height: 240px){

	    	.menu {
	    		padding: 10px 0;

	    		li a {
	    			font-size: 15px;
	    		}
	    	}
	    }
    }
}

@media (max-width: 660px){
	
	.logo-team {
		top: 132px;
	}

	.home-page {

		.socket {
			padding-top: 250px;
		}

		.content-wrap {
			margin: 0 -25px;
		}

		.title-wrap {

			p {
				margin-bottom: 15px;
			}
		}

		.btn-reg, .btn-check {
			@include border-rad(0);
			width: auto !important;
			position: fixed;
			z-index: 100;
			bottom: 0;
			left: -25px;
			right: -25px;

			i {
				@include border-rad(0);
			}
		}
	}

	.adv-list {
		display: block;

		> li {
			position: relative;
			width: 85%;
			margin: 0;
			margin-bottom: 40px;
			padding-left: 100px;
			text-align: left;

			&:last-child {
				margin-bottom: 0;
			}

			.ico-wrap {
				position: absolute;
				width: 100px;
				left: 0;
				top: 0;

				.ico {
					align-self: start;
					-webkit-align-self: start;
				}
			}
		}
	}

	.footer {
		padding-top: 0;

		.text-info {
			text-align: left;
		}

		.social {

			span, ul {
				display: block;
			}

			span {
				text-align: left;
				margin-bottom: 18px;
				line-height: 16px;
			}

			ul {
				@include flex(space-between);
				margin: 0 -25px;
				
				li {
					width: 33.2%;
					background: rgba(255,255,255, 0.1);
					vertical-align: top;
					height: 72px;
					margin: 0;

					a {
						height: 100%;

						img {
							@include transform(translateY(-50%));
							position: relative;
							top: 50%;
						}
					}
				}
			}
		}
	}
}


@include mobile-min {

	.home-page {

		.socket {
			padding-top: 235px;
		}
	}

	.logo-team {
		top: 125px;
	}
}