
html { @include border-box; }
*, *:before, *:after { box-sizing: inherit; }

html, body {
    min-width: 320px;
    width: 100%;
    //height: 100%;
    text-align: center;
}

html {
    //height: 100%;   
    min-height: 100vh;
}

body { 
    height: 100%;
    background: #132a8d; 
    background-image: -moz-linear-gradient( 43deg, rgb(26,30,90) 0%, rgb(18,45,152) 100%);
    background-image: -webkit-linear-gradient( 43deg, rgb(26,30,90) 0%, rgb(18,45,152) 100%);
    background-image: -ms-linear-gradient( 43deg, rgb(26,30,90) 0%, rgb(18,45,152) 100%);
}

.menu-open, .popup-open {
    overflow: hidden;
}

.page {
    overflow: hidden;
    height: 100vh;
}

.text-page {
    overflow: hidden;
}

@include minHeight {

    html {
        height: auto;
    }

    .page {
        height: 600px;
        //overflow-y: auto;
    }

    .menu-open, .popup-open {
        overflow-y: auto;
    }
}

@include tablet {

    html {
        height: auto;
        min-height: 100vh;
    }
}

@include mobile {

    html {
        height: auto;
    }

    body {
        position: relative;
        //min-height: 100%;
        height: 100%;
    }

    .page {
        overflow-y: auto;
        height: auto;
        min-height: 100%;
        min-height: 100vh;

        .socket {
            height: 100%;
        }
    }

    .text-page {
        min-height: 100vh;
    }
}

.socket {
    @include socket;
}

.clearfix {
    @include clearfix;
}

.tbl {
    @include tbl;
}


/* =========================
   Header
   ========================= */

#header {
    @include socket;
    position: absolute;
    height: 108px;
    left: 0;
    right: 0;
    top: 0;
}

.btn-close, .btn-menu-block {
    top: 41px;
    z-index: 999;
}

.btn-menu-block {
    position: absolute;
    left: 0;
    padding-left: 83px;
    cursor: pointer;

    > span, > div {
        line-height: 65px;
        white-space: nowrap;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 12px;
    }

    > div {
        @extend .trans;
        @include delay(0.4s);
        position: absolute;
        opacity: 0;
        top: 0;
        left: 105%;
        font-style: normal;
        color: $yellow;

        @include mobile {
            display: none;
        }
    }

    .menu-text-item {
        opacity: 1;
    }

    .menu-open & {

        > div.menu-text-item {
            opacity: 0;
        }

        > div.menu-text-close {
            opacity: 1;
        }
    }
}

.btn-menu, .btn-close {
    @include border-rad(50%);
    position: absolute !important;
    display: block;
    cursor: pointer;
    width: 65px;
    height: 65px;

    > span {
        @include border-rad(50%);
        display: block;
        width: 100%;
        height: 100%;
        border: 2px solid rgba(255,255,255, 0.2);
    }
}

.btn-menu {
    position: absolute;
    left: 0;
    top: 0;

    i {
        top: 31px;
        left: 50%;
        margin-left: -9px;
    }

    i, i:before, i:after {
        @include border-rad(1px);
        display: block;
        position: absolute;
        width: 18px;
        height: 2px;
        background: #fff;
    }

    i:before, i:after {
        @extend .ps;
        left: 0;
        top: -7px;
    }

    i:after {
        top: 7px;
    }

    &.open {
        background-color: blue;
    }
}

.menu-block, .popup {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background: #132a8d; 
    background-image: -moz-linear-gradient( 43deg, rgb(26,30,90) 0%, rgb(18,45,152) 100%);
    background-image: -webkit-linear-gradient( 43deg, rgb(26,30,90) 0%, rgb(18,45,152) 100%);
    background-image: -ms-linear-gradient( 43deg, rgb(26,30,90) 0%, rgb(18,45,152) 100%);
} 

.menu-block {
    @include trans(0.6s);
    left: -100%;
    z-index: 997;
    overflow: hidden;
    
    .menu-open & {
        left: 0;

        .socket.figure:after {
            opacity: 1;
        }
    }

    .socket {
        padding-top: 108px;

        &.figure {
            
            &:after {
                opacity: 0;
            }
        }
    }

    @include minHeight {
        height: 600px;
    }
}

.menu {
    @extend .ctrVert;
    height: 100%;
    text-align: left;
    padding: 50px 0;

    @include minHeight {
        padding: 25px 0;
    }

    @media (min-width: 1025px) and (min-height: 950px){
        height: 60%;
        padding: 0;
    }

    @media (max-width: 767px) and (max-height: 580px){
        padding: 30px 0;
    }

    ul {
        @include flex(space-between);
        height: 100%;
        flex-direction: column;
    }

    li {
        opacity: 0.2;
        
        a {
            position: relative;
            padding-left: 43px;
            display: block;
            font-size: 50px;
            text-decoration: none;
            font-family: $fontSbold;
        }

        i {
            @extend .ctrVert;
            position: absolute;
            left: 11px;
            font-style: normal;
            font-size: 12px;
        }

        &.active {
            opacity: 1;

            i {
                color: $yellow;
            }
        }
    }
}

.figure {

    &:after {
        @extend .ps;
        @include trans(1.5s);
        @include delay(0.7s);
        left: 655px;
        top: 0;
        width: 765px;
        height: 427px;
        background: url(../images/figure.png) no-repeat 0 0;
    }

    @include mid {

        &:after {
            right: -180px;
            left: auto;
        }
    }

    @media (max-width: 1150px){

        &:after {
            display: none;
        }
    }
}

body.popup-mobile {
    height: 100%;
}

.popup {
    @include trans(0.5s);
    display: none;
    background: none;
    z-index: 996;

    .popup-mobile & {
        display: block;
        padding-bottom: 30px;
        height: 100vh;
        position: relative;

        @include mobile {
            height: auto;
            min-height: 100%;
        }
    }

    @include minHeight {
        height: 600px;
    }   

    > * {
        position: relative;
        z-index: 1;
    }

    &:after {
        @extend .ps;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: -moz-linear-gradient( 43deg, rgb(26,30,90) 0%, rgb(18,45,152) 100%);
        background-image: -webkit-linear-gradient( 43deg, rgb(26,30,90) 0%, rgb(18,45,152) 100%);
        background-image: -ms-linear-gradient( 43deg, rgb(26,30,90) 0%, rgb(18,45,152) 100%);
    }
    
    .btn {
        margin-bottom: 20px;
    }
}

.popup-reg, .popup-aut, .popup-check {

    &.open {
        display: block;
    }
}

.popup-content-wrap {
    width: 565px;
    top: 56%;
    margin: auto;

    p {
        margin-bottom: 24px;
    }

    .popup-mobile & {
        @include transform(translateY(0));
        padding-top: 140px;
        top: 0;
    }

    @include minHeight {
        @include transform(translateY(0));
        top: 0;
        padding-top: 100px;
    }

    @include mobile {
        @include transform(translateY(0));
        padding-top: 140px;
        top: 0;
        width: auto;
        margin: 0 25px;
    }

    @include mobile-min {
        p {
            br {
                display: none;
            }
        }
    }
}

.btn-close {
    @extend .ctrHor;
    z-index: 998;

    i {
        @include transform(translateY(-50%) translateX(-50%));
        position: absolute;
        width: 14px;
        height: 14px;
        top: 50%;
        left: 50%;
        display: block;

        &:before, &:after {
            @extend .ps;
            left: 6px;
            top: -1px;
            width: 2px;
            height: 16px;
            background-color: #fff;
        }

        &:before {
            @include transform(rotate(45deg));
        }

        &:after {
            @include transform(rotate(-45deg));
        }
    }

    @include mobile {
        display: none;
    }
}

.info-link {
    position: relative;
    display: inline-block;
    text-decoration: none;
    padding-left: 32px;
    
    &:before {
        @extend .ps;
        @include border-rad(50%);
        left: 0;
        top: 0;
        width: 20px;
        height: 20px;
        background-color: #303877;
    }

    &:after {
        @extend .ps;
        content: "i";
        width: 20px;
        left: 9px;
        top: 0;
        font-size: 12px;
        line-height: 22px;
        text-align: left;
    }

    span {
        color: rgba(255,255,255, 0.5);
        line-height: 20px;
    }

    &.info-link-w span {
        color: #fff;
    }

    &.red {

        &:before {
            background-color: #b32225;
        }
    }
}

a.info-link {

    span {
        text-decoration: underline;
    }

    &:hover span {
        text-decoration: none;
    }
}

.code-form {
    display: none;
}

.btns-row {
    @include flex(space-between);

    .btn {
        width: 48.5%;
        height: 66px;

        button span {
            line-height: 66px;
            font-size: 10px;
        }
    }

    .btn-ref {
        width: 53%;
    }

    .btn-tel {
        width: 44%;
    }

    @include mobile {
        display: block;

        .btn {
            width: 100%;
            margin-bottom: 20px;
        }
    }
}


// Popup Check
.popup-check {

    .popup-content-wrap {
        width: auto;

        @include mobile {

            .socket {
                margin: 0;
            }
        }
    }
}

.block {
    @include border-rad(10px);
    @include transition(all, 0.5s, linear);
    border: 2px solid rgba(255,255,255, 0.1);
}

.add-check-menu {
    @include flex(space-between);
    width: 645px;
    margin: auto;
    margin-bottom: 38px;

    li {
        width: 31.5%;
        height: 225px;
        cursor: pointer;

        .ico {
            height: 139px;

            img {
                @extend .ctrVert;
            }
        }

        > span {
            @extend .trans;
            display: block;
            font-size: 12px;
            line-height: 25px;
            text-transform: uppercase;
        }

        &:hover {
            
            span {
                color: $yellow;
            }
        }
    }
}

@include mobile {

    .add-check-menu {
        display: block;
        width: auto;

        li {
            width: auto;
            height: auto;
            padding: 30px 0 26px;
            margin-bottom: 25px;


            .ico {
                display: none;
            }

            span {

                br {
                    display: none;
                }
            }
        }
    }
}


.check-pane {
    display: none;
}

.check-pane-menu {
    display: block;
}


// Photo
.check-photo-block {
    @include flex(space-between);

    .check-cam, .check-btn {
        @include border-rad(5px);
        height: 350px;
    }

    .check-cam {
        width: 76%;
        padding: 15px;
        border: 2px dashed rgba(255,255,255, 0.2);

        .cam-image {
            width: 100%;
            height: 100%;
            background-size: cover !important;
        }
    }

    .check-btn {
        width: 22.5%;
        padding-top: 130px;
        cursor: pointer;
        background-color: $yellow;

        .ico {
            @include border-rad(50%);
            @extend .ctrHor;
            width: 80px;
            height: 80px;
            margin-bottom: 10px;
            background-color: $blue;

            img {
                @extend .ctr;
                display: block;
            }
        }

        span {
            display: block;
            color: $blue;
            font-size: 22px;
            font-family: $fontSbold;
            line-height: 29px;
        }
    }
}

@include mobile {

    .check-photo-block {
        width: 260px;
        display: block;
        margin: auto;

        .check-cam, .check-btn {
            width: 100%;
        }

        .check-cam {
            margin-bottom: 15px;
            height: 240px;
        }

        .check-btn {
            height: 175px;
            padding-top: 15px;
        }
    }
}

// Upload
.btn-check-upload {
    position: relative;

    input.file-upload {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
        opacity: 0;
    }
}

.check-enter-block {
    width: 565px;
    margin: auto;

    @include mobile {
        width: auto;

        .btn-back {
            display: none;
        }
    }
}

.select {
    @include border-rad(4px);
    position: relative;
    margin-bottom: 20px;
    cursor: pointer;

    &:after {
        @extend .ps;
        @include transform(translateY(-50%));
        right: 40px;
        top: 50%;
        width: 19px;
        height: 23px;
        background: url(../images/arrow.svg) no-repeat;
        background-size: 100% auto;
        z-index: 1;
        opacity: 0.2;
    }

    select {
        width: 100%;
        height: 100px;
        padding-left: 40px;
        background: none;
        border: none;
        outline: none;
        -webkit-appearance: none;
        text-overflow: elipsis;
        text-indent: 0.01px;
        text-align: left;
        font-size: 22px;
        font-family: $fontSbold;
        cursor: pointer;

        option {
            color: $blue;
            background: none;
            cursor: pointer;
        }
    }

    @include minHeight {

        select {
            height: 85px;
        }
    }
}

.content {
    //padding-top: 140px;   
    padding-top: 130px;  
}