
html { @include border-box; }
*, *:before, *:after { box-sizing: inherit; }

html, body {
    min-width: 320px;
    width: 100%;
    //height: 100%;
    text-align: center;
}

body { 
    background: #132a8d; 
}

.page-wrapper {
    @include trans(0.2s);
    overflow: hidden;
    min-height: 100%;

    @include mobile {
        position: relative;
        z-index: 1;
    }
}

.menu-open, .popup-open {
    overflow: hidden;
}


.page {
    overflow: hidden;
    height: 100vh;
}

@include minHeight {

    .page {
        height: 600px;
        overflow-y: auto;
    }
}

@include mobile {

    html {
        height: 100%;
    }

    body {
        position: relative;
        min-height: 100%;
    }

    .page {
        overflow-y: auto;
        height: auto;
        min-height: 100%;

        .socket {
            height: 100%;
        }
    }
}

.socket {
    @include socket;
}

.clearfix {
    @include clearfix;
}

.tbl {
    @include tbl;
}


/* =========================
   Header
   ========================= */

#header {
    @include socket;
    position: absolute;
    height: 108px;
    left: 0;
    right: 0;
    top: 0;
}

.btn-close, .btn-menu-block {
    top: 41px;
    z-index: 999;
}

.btn-menu-block {
    position: absolute;
    left: 0;
    padding-left: 83px;

    > span, > em {
        line-height: 65px;
        white-space: nowrap;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 12px;
    }

    > em {
        @extend .trans;
        @include delay(0.4s);
        position: absolute;
        opacity: 0;
        top: 0;
        left: 105%;
        font-style: normal;
        color: $yellow;

        @include mobile {
            display: none;
        }
    }

    .menu-open & > em {
        opacity: 1;
    }
}

.btn-menu, .btn-close {
    @include border-rad(50%);
    position: absolute !important;
    display: block;
    cursor: pointer;
    width: 65px;
    height: 65px;

    > span {
        @include border-rad(50%);
        display: block;
        width: 100%;
        height: 100%;
        border: 2px solid rgba(255,255,255, 0.2);
    }
}

.btn-menu {
    position: absolute;
    left: 0;
    top: 0;

    i {
        top: 31px;
        left: 50%;
        margin-left: -9px;
    }

    i, i:before, i:after {
        @include border-rad(1px);
        display: block;
        position: absolute;
        width: 18px;
        height: 2px;
        background: #fff;
    }

    i:before, i:after {
        @extend .ps;
        left: 0;
        top: -7px;
    }

    i:after {
        top: 7px;
    }

    &.open {
        background-color: blue;
    }
}

.menu-block, .popup {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background-image: -moz-linear-gradient( 43deg, rgb(26,30,90) 0%, rgb(18,45,152) 100%);
    background-image: -webkit-linear-gradient( 43deg, rgb(26,30,90) 0%, rgb(18,45,152) 100%);
    background-image: -ms-linear-gradient( 43deg, rgb(26,30,90) 0%, rgb(18,45,152) 100%);
} 

.menu-block {
    @include trans(0.6s);
    left: -100%;
    z-index: 997;
    
    .menu-open & {
        left: 0;
    }

    .socket {
        padding-top: 108px;
    }

    @include minHeight {
        height: 600px;
    }
}

.menu {
    @extend .ctrVert;
    height: 100%;
    text-align: left;
    padding: 50px 0;

    @include minHeight {
        padding: 25px 0;
    }

    ul {
        @include flex(space-between);
        height: 100%;
        flex-direction: column;
    }

    li {
        opacity: 0.2;
        
        a {
            position: relative;
            padding-left: 43px;
            display: block;
            font-size: 50px;
            text-decoration: none;
            font-family: $fontSbold;
        }

        i {
            @extend .ctrVert;
            position: absolute;
            left: 11px;
            font-style: normal;
            font-size: 12px;
        }

        &.active {
            opacity: 1;

            i {
                color: $yellow;
            }
        }
    }
}


.popup {
    @include trans(0.5s);
    display: none;
    background: none;
    z-index: 996;

    @include minHeight {
        height: 600px;
    }   

    > * {
        position: relative;
        z-index: 1;
    }

    &:after {
        @extend .ps;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: -moz-linear-gradient( 43deg, rgb(26,30,90) 0%, rgb(18,45,152) 100%);
        background-image: -webkit-linear-gradient( 43deg, rgb(26,30,90) 0%, rgb(18,45,152) 100%);
        background-image: -ms-linear-gradient( 43deg, rgb(26,30,90) 0%, rgb(18,45,152) 100%);
    }
    
    .btn {
        margin-bottom: 20px;
    }
}

.popup-reg {

    &.open {
        display: block;
    }
}

.popup-content-wrap {
    width: 565px;
    top: 56%;
    margin: auto;

    @include minHeight {
        @include transform(translateY(0));
        top: 0;
        padding-top: 100px;
    }

    @include mobile {
        width: auto;
        margin: 0 25px;
    }

    p {
        margin-bottom: 24px;
    }
}

.btn-close {
    @extend .ctrHor;
    z-index: 998;
}

.info-link {
    position: relative;
    display: inline-block;
    text-decoration: none;
    padding-left: 32px;
    
    &:before {
        @extend .ps;
        @include border-rad(50%);
        left: 0;
        top: 0;
        width: 20px;
        height: 20px;
        background-color: #303877;
    }

    &:after {
        @extend .ps;
        content: "i";
        width: 20px;
        left: 0;
        top: 0;
        font-size: 12px;
        line-height: 22px;
    }

    span {
        text-decoration: underline;
        color: rgba(255,255,255, 0.5);
        line-height: 20px;
    }

    &:hover {

        span {
            text-decoration: none;
        }
    }
}

.code-form {
    display: none;
}

.code-btns-row {
    @include flex(space-between);

    .btn-ref {
        width: 53%;
    }

    .btn-tel {
        width: 44%;
    }
}